@font-face {
    font-family: "此生唯一所愿是你";
    src: url("CiShengWeiYiSuoYuanShiNi-2.eot"); /* IE9 */
    src: url("CiShengWeiYiSuoYuanShiNi-2.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("CiShengWeiYiSuoYuanShiNi-2.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("CiShengWeiYiSuoYuanShiNi-2.woff") format("woff"), /* chrome, firefox */
    url("CiShengWeiYiSuoYuanShiNi-2.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("CiShengWeiYiSuoYuanShiNi-2.svg#此生唯一所愿是你") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


